@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,400;1,200;1,300;1,400&display=swap');

@import url('https://kit.fontawesome.com/e0a66df175.js');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration:none;
}
:root{
    --font-primary:"Baloo Da 2", serif;
    --font-segundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}
html{
    scroll-behavior:smooth;
}
body{
    font-size:16px;
    background:#f5f5f5;

}
.hamburguer{
    width:2em;
    height:2em;
    position:fixed;
    z-index:9900;
    right:2em;
    top: 2em;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    cursor:pointer;
    transition: all 1s;
}
.hamburguer span{
    position:absolute;
    left:3em;
    height:2em;
    width:6em;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(138,32,111,1);

    background: linear-gradient(100deg, rgba(215,27,168,1) 0%, rgba(138,32,111,1) 60%);
    color: #fff;
    font-family: var(--font-action);
    opacity:0;
}
.hamburguer span:hover{
    opacity:0.6;
    transition:0.5s;
}
.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: 0.5em solid rgba(138,32,111,1);
    border-top: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    left: -1em;
}
.show-menu .hamburguer:hover span{
    opacity: 1;
    transition: 1s
}
.show-menu .hamburguer{
    right:16em;
}
.line{
    width:100%;
    height:0.1em;
    background-color:#fff;
    box-shadow:0.1em 0.1em 1px #000;
    transition: all 1.5s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(0.3em, 0.3em);
}
.show-menu #line2{
    opacity:0;
    visibility:hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(0.2em, -0.5em);
}
header{
    width:100%;
    height:100vh;
    overflow:hidden;
    position: relative;
}
.img-wrapper{
    width:100%;
    height:100%;
    overflow:hidden;
    background:rgba(0,0,0,0.9);
}

.img-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.5;
    animation: zoom 10s;
}
@keyframes zoom{
    0%{
        transform:scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}

.banner{
    position:absolute;
    top:40%;
    left:5%;
    line-height:3.5em;

}
.banner h1{
    color: #ffffff;
    font-size:3em;
    font-family: var(--font-primary);

    font-weight: 100;
    text-shadow:0.3em 0.4em 2px rgba(0,0,0,0.4);
    margin-bottom:0.1em;

    animation: moveBanner 1s forwards;
}
.banner p{
    color: #ffffff;
    font-size:2em;
    font-family: var(--font-secundary);
    font-weight: 100;
    text-shadow:0.2em 0.2em rgba(0,0,0,0.4);
    animation: moveBanner 1s forwards;

}
.banner button{
    font-family: var(--font-action);
    text-transform: uppercase;
    color: #fff;
    background: rgb(215,27,168);
    background: linear-gradient(100deg, rgba(215,27,168,1) 0%, rgba(138,32,111,1) 60%);
    padding:1em 2em;
    border:none;
    border-radius: 0.5em;
    cursor:pointer;
    outline:none;
    letter-spacing:0.1em;
    animation: moveBanner 1s forwards;

}
.banner button:hover{
    opacity:0.7;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10em) rotateY(-100deg);
        opacity:0;
    }
    100%{
        transform:translateY(0) rotateY(0); 

    }
}
.sidebar{
    z-index:9800; 
    width: 20em;
    height:100vh;
    background-color:#fff;
    position: fixed;
    top: 0;
    right:-20em;
    transition: all 1s;
}
.show-menu .sidebar{
    right:0;
}
.menu{
    position:absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align:center;
    margin-bottom:0.5em;
}
.menu-link{
    font-family: var(--font-action);
    font-size: 2em;
    color: #555;

}
.menu-link:hover{
    color:  rgb(215,27,168);
    transition: 0.2s;
}
.social-media{
    position:absolute;
    bottom:10%;
    width:100%;
    display:flex;
    justify-content:space-evenly;
}
.social-media i{
    font-size:2em;
    color:#555;
    display: flex;
    justify-content: center;
    align-items:center;
    color:rgba(138,32,111,1);
    
}
.social-media i:hover{
    color:rgb(223, 101, 192);
    transition:0.5s;
}

#profile{
    display:flex;
    height:100vh;
    font-family: var(--font-action);
    position:relative;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(221,219,219,1) 95%);
}
.p{
    width:33.3%;
}
.photo_profile{
    display:flex;
    align-items:center;
    justify-content:center;
    width:33.3%;
}
.photo_profile > img{
    border-radius:50%;
    width:15em;
    height:15em;
}

.barra_purple{
    background:rgba(138,32,111,1);
    width:90%;
    height:0.5em;
}
.presentation{
    width:30%;
    position:absolute;
    left:68%;
    top:20%;
}
.presentation h1{
    font-size:1.5em;
}
.presentation h2{
    color:rgba(138,32,111,1);
    font-size:1.2em;
    margin-bottom:1em;
}
.presentation p{
    text-align: left;
}
.habilidades{
    margin-top:5em;
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,6em);
    row-gap: 0.5em;
    height:110vh;
}



.habilidade:nth-child(1){
    grid-column: 4/7;
    grid-row: 1/3;
}
.habilidade:nth-child(2){
    grid-column: 2/5;
    grid-row: 3/5;
}
.habilidade:nth-child(3){
    grid-column: 4/7;
    grid-row: 5/-1;
}
.habilidade:nth-child(4){
    grid-column: 11/14;
    grid-row: 1/3;
}
.habilidade:nth-child(5){
    grid-column: 13/16;
    grid-row: 3/5;
}
.habilidade:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;
}
.habilidade{
    transition:1s cubic-bezier(0.7,0.04,0.66,1.71);
}
.habilidade:hover{
    transform: translateX(20%);

}
.habilidade:hover i{
    color: rgb(223, 101, 192);
    transition: 0.5s;

}
.habilidades-header h3:hover{
    color: rgb(223, 101, 192);
    transition: 0.5s;
}
.sessao-header{
    display:flex;
    align-items: center;
    justify-content: center;

}
.sessao-habilidades{
    background:#f5f5f5;
}
.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3em;
    color: #555;
    border-bottom: solid 2px rgba(138,32,111,1);
    border-radius: 4%;
    text-shadow:0.05em 0.05em rgba(0,0,0,0.4);
    
}
.habilidades-header{
    display:flex;
    align-items: center;
    cursor:pointer;
}

.habilidades-header i{
    font-size:2.5em;
    color: #555;

}

.habilidades-header h3{
    font-family: var(--font-action);
    margin-top:1em;
    padding-left:1em;
    font-size:1.5em

}
.habilidades-text{
    font-family: var(--font-secundary);
    font-size:1.2em;
}
.habilidades-img-wrapper{
    grid-column:7/11;
    grid-row:2/6;
    width:100%;
}
.habilidades-img-wrapper img{
    object-fit: cover;
    width:100%;
}

.data-anime{
    opacity:0;
    transition:0.5s ease-out;
}
.data-anime-bottom{
    transform: translate3d(0,500px,0)
}

.data-anime-animate{

    position: relative!important;
    opacity:1;
    transform:translate3d(0px,0px,0px);
}
.sessao-projetos{
    margin-top:5em;
    height:100vh;
}
.projetos{
    display: flex;
    justify-content:space-evenly;
}

.card{
    margin-top:2em;
    width:20em;
    height:30em;
    position: relative;

}
.card-img-wrapper{
    width:19em;
    height:25em;
    background:#262626;
    border-radius:0.5em;
    border:none;

}
.card-img-wrapper img{
    object-fit:cover;
    width:19em;
    height:25em;
    opacity: 0.8;    
    border-radius:0.5em;
    border:none;
    transition: opacity .3s;
}
.card:hover .card-img-wrapper img{
    opacity: 0.5;
}
.card-info{
    position: absolute;
    bottom:0;
    padding: 2em;
    text-shadow: 0.3em 0.2em 0.3em rgba(0,0,0,0.6);
    height:16em;
    opacity:0;
    visibility:hidden;
    transition:all 0.3s;
    margin-bottom:2em;
}
.card-info h2{
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight:500;
    color: #eee;
}
.card-info h3{
    font-family: var(--font-secundary);
    font-weight:100;
    color: rgb(223, 101, 192);
}
.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width:80%;
}
.card-info button{
    font-family:var(--font-family);
    width:7em;
    height:2.2em;
    background: rgb(215,27,168);
    background: linear-gradient(100deg, rgba(215,27,168,1) 0%, rgba(138,32,111,1) 60%);
    border:none;
    color:#eee;
    border-radius:0.5em;
    margin-top:0.5em;
    box-shadow: 0 0.1em 0.8em rgba(0,0,0,0.8);
    cursor:pointer;
}
.card-info button:hover{
    opacity:0.8;
}
.card:hover .card-info{
    bottom:2e,;
    opacity:1;
    visibility: visible;
}
.sessao-contato{
    width:100%;
    height:100vh;
    background-color: #272727;
    /*background-color:#eee;*/
    display:flex;
    align-items:center;
    justify-content:center;
}
.contato-wrapper{
    width:60%;
    display:flex;
    height:30em;
    box-shadow: 0 2em 3em rgba(0,0,0,0.5);

}
.contato-right{
    width:65%;
    background-color:#eee;
    padding:1em 3em 3em 3em;
    border-radius:0 1em 0 0;
    opacity:0.8;
    transition:0.3s;
}
.contato-right:hover{
    opacity:1;
}
.contato-left{
    width:35%;
    background:linear-gradient(rgba(225, 249, 253, 0.1),rgb(12, 21, 58)), url(imagens/developer.jpg);
    background-size:cover;
    border-radius:1em 0 0 0;
}
.sessao-contato h1{
    width: 100%;
    text-align:center;
    font-family: var(--font-primary);
    color: #272727;
    font-size:3em;
    font-weight:lighter;
    margin-bottom:0.2em;
}
.sessao-contato form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.field{
    background:transparent;
    border:none;
    width:20em;
    font-size:1em;
    font-family:var(--font-action);
    border-bottom: 1px dashed #636363;
    color:rgb(68, 65, 65);
    outline:none;
    height:3em;
    margin:1.5em 0;
}
.input-group{
    position:relative;
}
.field-label {
    position:absolute;
    left:0;
    font-family:var(--font-segundary);
    text-transform: uppercase;
}
.input-group textarea{
    max-width:20em;
    max-height:10em;;
}
.btn-submit{
    text-transform:uppercase;
    font-family:var(--font-family);
    width:7em;
    height:2.2em;
    background: rgb(215,27,168);
    background: linear-gradient(100deg, rgba(215,27,168,1) 0%, rgba(138,32,111,1) 60%);
    border:none;
    color:#eee;
    border-radius:0.5em;
    margin-top:0.5em;
    box-shadow: 0 0.1em 0.8em rgba(0,0,0,0.8);
    cursor:pointer;
    transition:0.3s ;
    outline:none;
}
.btn-submit:hover{
    opacity:0.8;
    transform:translateY(30%);
}
@media (max-width:900px){
    .habilidades{
        margin-top:1.5em;
        display:block;
        padding-left:1.5em;
        height:100%;
    }
    .habilidades-header{
        display:flex;
        align-items:center;
    }
    .habilidade{
        transition:0.5s cubic-bezier(0.7,0.04,0.66,1.71);
        margin-bottom:1.5em;
    }
    .habilidade:hover{
        transform: translateX(3%);
    }
    .sessao-projetos{
        height:100%;

    }
    .projetos{
        display: block;
        margin-top:2.5em;
    }
    .card{
        margin:5px auto;
    }
    .sessao-contato{
        height:100vh;
    }
    .contato-wrapper{
        width:100%;
        display:flex;
        justify-content:center;
        box-shadow:none;
    }
    .contato-right{
        border-radius:1em; 
    }
    .contato-left{
        display:none;
    }
}