@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,400;1,200;1,300;1,400&display=swap');

@import url('https://kit.fontawesome.com/e0a66df175.js');

*{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
}
header{
    width:100%;
    height:100vh;
    overflow:hidden;
    position: relative;
}
.img-wrapper{
    width:100%;
    height:100%;
    overflow:hidden;
    background:rgba(0,0,0,0.9);
}

.img-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.5;
    animation: zoom 10s;
}
@keyframes zoom{
    0%{
        transform:scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}

.banner{
    position:absolute;
    top:50%;
    left:5%;
    line-height:3.5em;

}
.banner h1{
    color: #ffffff;
    font-size:3em;
    font-family: "Baloo Da 2", serif;
    font-weight: 100;
    text-shadow:0.3em 0.4em 2px rgba(0,0,0,0.4);
    margin-bottom:0.1em;

    animation: moveBanner 1s forwards;
}
.banner p{
    color: #ffffff;
    font-size:2em;
    font-family: "Josefin Slab", serif;
    font-weight: 100;
    text-shadow:0.2em 0.2em rgba(0,0,0,0.4);
    margin-bottom:1em;
    animation: moveBanner 1s forwards;

}
.banner button{
    font-family: "Mulish", serif;
    text-transform: uppercase;
    color: #fff;
    background: rgb(215,27,168);
    background: linear-gradient(100deg, rgba(215,27,168,1) 0%, rgba(138,32,111,1) 60%);
    padding:1em 2em;
    border:none;
    border-radius: 0.5em;
    cursor:pointer;
    outline:none;
    letter-spacing:0.1em;
    transition: 0.2s;
    animation: moveBanner 1s forwards;

}
.banner button:hover{
    opacity:0.7;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10em) rotateY(-100deg);
        opacity:0;
    }
    100%{
        transform:translateY(0) rotateY(0); 

    }
}